<head>
    <!-- FontAwesome Free CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<header>
    <nav>
        <div class="container flex justify-between items-center p-4">
            <!-- Home link on the left -->
            <a href="/" class="text-white flex items-center">
                <i class="fas fa-home mr-2"></i> Home
            </a>
            <!-- Projects link on the right -->
            <a href="/projects/" class="text-white flex items-center">
                <i class="fas fa-folder-open mr-2"></i> Projects
            </a>
        </div>
    </nav>
</header>
